@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --Purple600: hsl(246, 80%, 60%);

  --Orange300: hsl(15, 100%, 70%); /*work*/
  --Blue300: hsl(195, 74%, 62%); /*(play)*/
  --Pink400: hsl(348, 100%, 68%); /*(study)*/
  --Green400: hsl(145, 58%, 55%); /*(exercise)*/
  --Purple700: hsl(264, 64%, 52%); /*(social)*/
  --Yellow300: hsl(43, 84%, 65%); /*(self care)*/

  /*### Neutral */

  --Navy950: hsl(226, 43%, 10%);
  --Navy900: hsl(235, 46%, 20%);
  --Purple500: hsl(235, 45%, 61%);
  --Navy200: hsl(236, 100%, 87%);
}
ul {
  list-style: none;
}
body {
  background-color: var(--Navy950);
  font-family: "Rubik", sans-serif;
}

.container {
  min-height: 100vh;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  max-width: 1116px;
  width: 100%;
  display: flex;
  gap: 32px;
}
.left-container {
  max-width: 255px;
  width: 100%;
  border-radius: 15px;
  position: relative;
}
.user-details {
  background-color: var(--Purple600);
  padding: 32px;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 354px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.user-details img {
  height: 78px;
  width: 78px;
  border: 3px solid #fff;
  border-radius: 50%;
}
.user-info p {
  font-size: 15px;
  color: var(--Navy200);
}
.user-info h2 {
  font-size: 47px;
  font-weight: lighter;
  color: #fff;
}
.tabs {
  display: flex;
  justify-content: flex-end;
  background-color: var(--Navy900);
  flex-direction: column;
  height: 100%;
  border-radius: 15px;
  padding: 32px;
  gap: 21px;
}
.tabs span {
  font-size: 18px;
  color: #fff;
}
.right-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 255px);
  gap: 32px;
}

/* .container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Navy950);
}
.wrapper {
  max-width: 1116px;
  width: 100%;
  min-height: 60vh;
  display: flex;
  /* background-color: lightseagreen; 
  gap: 32px;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 255px;
}
.user-details {
  border-radius: 15px;
  padding: 32px;
  background-color: var(--Purple600);
  height: 100%;
  width: 100%;
}
.user-details img {
  width: 78px;
  height: 78px;
}
.tabs {
  padding: 32px;
  background-color: var(--Navy900);
}
.right-container {
  width: 100%;
}

.tabs ul li {
  margin-bottom: 21px;
}

.time-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;

  gap: 32px;
}

@media screen and (max-width: 378px) {
  .wrapper {
    flex-flow: column;
    min-width: 375px;
  }
  .time-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .time-grid {
    grid-template-columns: repeat(2, 1fr);
  }
} */
